body {
    font-family:'Segeo UI', sans-serif;
    background-color: #f9f9ff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffc8dd;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
    color: #5d3fd3;
}

.anime-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}

.anime-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 250px;
    padding: 15px;
    text-align: center;
}

.anime-card img {
    width: 100%;
    border-radius: 10px;
}

button {
    margin-top: 10px;
    background-color: #5d3fd3;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #4b2fb2;
}